wheelhouse/*
build/*
src/_tds.*.so
src/ctds.egg-info/
# Python bytecode
__pycache__/
*.py[cod]
*.so
# Test/coverage artifacts
.coverage
.coverage.*
htmlcov/
.pytest_cache/
coverage.xml

# tox
.tox/

# common build artifacts
*.egg-info/
dist/
build/
