skip_commits:
  # Mimic Travis-ci skip behavior.
  message: /ci skip/

image: Visual Studio 2022

environment:

  # As defined by Appveyor.
  SA_PASSWORD: "Password12!"

  BUILD_INSTALL_PREFIX: "C:\\usr\\local"

  FREETDS_VERSION: "1.5.10"

  matrix:
  - PYTHON: "C:\\Python39-x64"
    SQLSERVER_INSTANCENAME: "SQL2019"

  - PYTHON: "C:\\Python310-x64"
    SQLSERVER_INSTANCENAME: "SQL2019"

  - PYTHON: "C:\\Python311-x64"
    SQLSERVER_INSTANCENAME: "SQL2019"

  - PYTHON: "C:\\Python312-x64"
    SQLSERVER_INSTANCENAME: "SQL2019"

  - PYTHON: "C:\\Python313-x64"
    SQLSERVER_INSTANCENAME: "SQL2017"

  - PYTHON: "C:\\Python313-x64"
    SQLSERVER_INSTANCENAME: "SQL2019"

# Note: Database services should *not* be specified in the services section.
# The database service will be explicitly started by the script which enables
# TCP/IP connections for the database.
services:

cache:
  - '%BUILD_INSTALL_PREFIX% -> appveyor\\install.ps1'
  - '%BUILD_INSTALL_PREFIX% -> appveyor.yml'

install:
  - choco install opencppcoverage
  - "powershell appveyor\\install.ps1"

build_script:
  - "powershell appveyor\\build_script.ps1"

before_test:
  - "powershell appveyor\\before_test.ps1"

test_script:
  - "powershell appveyor\\test_script.ps1"

after_test:
  - "powershell appveyor\\after_test.ps1"
